@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, bumblebee;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpolygon id='hex' points='30,0 60,15 60,45 30,60 0,45 0,15' fill='%23ffffff' stroke='%23eab308' stroke-width='2'/%3E%3C/defs%3E%3Cg transform='translate(30,30)'%3E%3Cuse href='%23hex'/%3E%3Cuse href='%23hex' transform='translate(60,0)'/%3E%3Cuse href='%23hex' transform='translate(30,52)'/%3E%3Cuse href='%23hex' transform='translate(90,52)'/%3E%3Cuse href='%23hex' transform='translate(0,104)'/%3E%3Cuse href='%23hex' transform='translate(60,104)'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 35vw 35vh;
  background-position: center;

}